<table>
    <tbody>
    <tr>
    <td>&nbsp;11</td>
    <td>&nbsp;12</td>
    <td>&nbsp;13</td>
    </tr>
    <tr>
    <td>&nbsp;21</td>
    <td>&nbsp;22</td>
    <td>&nbsp;23</td>
    </tr>
    </tbody>
    </table>

    <table>
        <tbody>
        <tr>
        <td>&nbsp;1-1</td>
        <td>&nbsp;1-2</td>
        <td>&nbsp;1-3</td>
        <td>&nbsp;1-4</td>
        <td>&nbsp;1-5</td>
        <td>&nbsp;1-6</td>
        </tr>
        <tr>
        <td>&nbsp;2-1</td>
        <td>&nbsp;2-2</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>&nbsp;3-1</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
        </tbody>
        </table>
        